db.Bookings.aggregate([
  {
    $match: { userId: '123' }
  },
  {
    $group: { _id: '$trainerId' }
  },
  {
    $lookup: {
      from: 'reviews',
      let: { trainerId: '$_id' },
      pipeline: [
        {
          $match: {
            $expr: {
              $and: [
                { $eq: ['$trainerId', '$$trainerId'] },
                { $eq: ['$userId', '123'] }
              ]
            }
          }
        },
        {
          $project: { rating: 1, review: 1, _id: 0 }
        }
      ],
      as: 'reviews'
    }
  },
  {
    $unwind: {
      path: '$reviews',
      preserveNullAndEmptyArrays: true
    }
  },
  {
    $project: {
      trainerId: '$_id',
      rating: '$reviews.rating',
      review: '$reviews.review',
      _id: 0
    }
  }
]);



=====================================


db.Bookings.aggregate([
  {
    $match: { userId: '123' }
  },
  {
    $group: { _id: '$trainerId' }
  }
]);
